<div class="subscription-wrapper">

    <input hidden class="subscription-switch" id="subscription-switch" type="checkbox">

    <div class="subscription-container">

        <div class="login-container">

            <h2>Sign in</h2>

            <app-input
                name="signInEmail"
                label="Email *"
                [ngControl]="signInEmailCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                type="password"
                name="signInPassword" 
                label="Password *"
                [ngControl]="signInPasswordCtrl"
                [floatingLabel]="true"
            ></app-input>

            <a href="javascript:void(0)" (click)="forgotPassword()">
                <small>I've forgot my password</small>
            </a>

            <button
                class="btn btn-primary"
                [disabled]="signInForm.invalid || loading"
                (click)="signIn()"
            >
                Sign in <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
        </div>

        <div class="sign-up-container">

            <h2>Sign up</h2>

            <app-input
                name="username"
                label="Username *"
                [ngControl]="signUpUsernameCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                name="signUpEmail"
                label="Email *"
                [ngControl]="signUpEmailCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                type="password"
                name="signUpPassword" 
                label="Password"
                [ngControl]="signUpPasswordCtrl"
                [floatingLabel]="true"
            ></app-input>
            
            <button
                class="btn btn-primary"
                [disabled]="signUpForm.invalid|| loading"
                (click)="signUp()"
            >
                Sign up <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            </button>
        </div>

    </div>

    <div class="login-btn-wrapper">

        <h3>Have an account?</h3>

        <label class="btn btn-primary" for="subscription-switch">Sign in</label>
    </div>

    <div class="sign-up-btn-wrapper">

        <h3>Don't have it?</h3>

        <label class="btn btn-primary" for="subscription-switch">Sign up</label>
    </div>

</div>